<%= form_for(@allowed_package) do |f| %>
  <% if @allowed_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allowed_package.errors.count, "error") %> prohibited this allowed_package from being saved:</h2>

      <ul>
      <% @allowed_package.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :package_id %><br />
    <%= f.number_field :package_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
