<h1>Listing allowed_packages</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Package</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @allowed_packages.each do |allowed_package| %>
  <tr>
    <td><%= allowed_package.client_id %></td>
    <td><%= allowed_package.package_id %></td>
    <td><%= link_to 'Show', allowed_package %></td>
    <td><%= link_to 'Edit', edit_allowed_package_path(allowed_package) %></td>
    <td><%= link_to 'Destroy', allowed_package, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Allowed package', new_allowed_package_path %>
