<p id="notice"><%= notice %></p>

<p>
  <b>Starting at:</b>
  <%= @agreement.starting_at %>
</p>

<p>
  <b>Ending at:</b>
  <%= @agreement.ending_at %>
</p>

<p>
  <b>Tipo:</b>
  <%= @agreement.package.kind %>
</p>


<p>
  <b>Kind:</b>
  Contrato <%= @agreement.kind %>
</p>

<p>
  <b>Quantity:</b>
  <%= @agreement.quantity %>
</p>


<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
